extends _layouts/master

append header-meta
  base(href='/')

append header-title
  | Angular weather

append header-stylesheets
  style.
    .right .github-fork-ribbon { background-color: #333; }

append body-ng-controller
  //- - controller_name = 'Weather_Controller as wc';

append body-title
  h4 Using Angular to show the forecast.

append body-content
  .row
    .col-md-12
      // Add weather markup here